@model List<TimePersonOfTheYear.Models.Person>
<!--add StyleSheet here-->
<h1>Time Person of the Year</h1>
<form method="post">

    <label for="beginYear"> Begin Year </label>
    <input maxLength="4" name="beginYear" />

    <label for="endYear"> Year </label>
    <input maxLength="4" name="endYear" />

    <button type="submit">Submit</button>

</form>
